.nav {
  position: fixed;
  bottom: 0;
  display: flex;
  height: 4rem;
  padding: 0.2rem 0 0;
  width: 100vw;
  border-top: 1px solid #333;
  background-color: #fef9e9ee;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    li {
      flex-direction: column;
      justify-content: center;

      .link {
        color: black;
        text-decoration: none;
        font-size: 1rem;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        svg {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (width>= 770px) {
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
    display: flex;
    height: 4rem;
    padding: 1rem 0;
    border: none;
    background-color: transparent;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 5rem;
      }
    }
  }
}
