.postDetailPage {
  display: flex;
  flex-direction: column;
  align-items: center;

  .postDetail {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid #333;
    margin: 1rem;
    border-radius: 4px;
    padding: 1rem;
    h4 {
      font-size: 2rem;
    }
    .postDetail__author {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      padding: 0.5rem;
      border-top: 1px solid #333;
      border-bottom: 1px solid #333;
    }
    .postDetail__images {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;

      .postDetail__images__image {
        height: 10rem;
        width: 16rem;
        object-fit: cover;
        border-radius: 4px;
      }
      @media (min-width: 700px) {
      }
      .recipe {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .recipe__field {
          display: block;
          margin: 0 0 1.2rem 0;
          width: 90%;
          border-radius: 4px;
        }
      }

      .reference {
        font-weight: 400;
        color: #333;
        a {
          padding-inline-start: 5px;
          color: #333;
          font-weight: 600;
        }
      }
    }
  }
  .comments {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #333;
    min-height: 30vh;
    max-width: 500px;
    border: 1px solid #333;
    border-radius: 4px;
    .comments__create {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      textarea {
        height: fit-content;
        border: solid 1px #333;
        border-radius: 4px;
        padding: 1rem;
        font-family: 'Helvetica';
        &:focus {
          outline: 0 none;
        }
      }
      button {
        width: 30%;
        padding: 5px;
        background-color: #fff;
        color: #333;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: #333;
          color: #fff;
          border: 1px solid #fff;
        }
        &:active {
          transform: translate(2px, 5px);
        }
      }
    }
    .comments__show {
      ul {
        background-color: #fff;
        li {
          padding: 10px;
          border-bottom: #333 solid 1px;
          max-height: 15vh;
          overflow: scroll;
          .comment_owner-info {
            display: flex;
            align-items: baseline;
            h6 {
              font-weight: 800;
              margin: 0 0 10px;
              font-size: 1rem;
            }
            span {
              font-size: 60%;
              max-height: 10%;
              padding: 0 10px;
            }
          }
          p {
            font-size: 90%;
          }
        }
      }
    }
  }
}
